@import '../../../../vendor/filament/filament/resources/css/theme.css';

@config 'tailwind.config.js';

/* INPUT & TEXTAREA */
/* .fi-input,
.fi-textarea,
.fi-select-input,
.input-field-chat {
    color: #ffffff !important;
    background-color: #1f2937 !important;
    border-color: #374151 !important;
    border-radius: 1rem;
}

.fi-input::placeholder,
.fi-textarea::placeholder {
    color: #9ca3af !important;
}

.fi-input[disabled],
.fi-textarea[disabled] {
    color: #ffffff !important;
    background-color: #111827 !important;
    opacity: 1 !important;
} */